{
  "extends": ["standard", "standard-react"],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "parser": "babel-eslint",
  "rules": {
    "react/prop-types": "off"
  },
  "env": {
    "browser": true,
    "mocha": true,
    "es6": true
  }
}
