.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  border-style: solid;
  border-color: #000;
  border-width: 3px;

  padding: 5px;
  margin: 5px;
}

.buttonContainer {
  width: 100%;
  text-align: center;
}

.button {
  border-style: none;

  margin: 3px;
  padding: 8px;
  color: #fff;
  background-color: #000;
}
